main {
    margin: 50px 8%;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}

.search-bar-container {
    width: 60%;
}


.search-result {
    display: flex;
    flex-direction: column;
}

.result-count {
    color: var(--color-palette-4);
    font-weight: 300;
    font-style: italic;
}

.result-box {
    --book-per-row: 5;
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(100% / var(--book-per-row)));
}

.result-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5%;
}

.result-book a {
    width: 100%;
    text-decoration: none;
}

.book-info .book-cover {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 260px;
    background-color: white;
    outline: 1px solid var(--color-palette-1);
    border-radius: 5px;
    overflow: hidden;
}

.book-info .book-cover img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.book-info .book-title {
    color: var(--color-palette-4);
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0;
}

.book-info .book-stock {
    color: var(--color-palette-2);
    font-size: .75rem;
    font-weight: 300;
    margin-top: 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-palette-2);
    margin-bottom: 15px;
    border-radius: 5px;
}

.book-result-button {
    color: white;
    font-size: 1rem;
}

button.book-result-button {
    padding: 1rem 2rem;
    background-color: var(--color-palette-2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.book-result-button:hover {
    filter: brightness(95%);
}

button.book-result-button:disabled {
    background-color: var(--color-palette-1);
    cursor: default;
}

button.book-result-button:disabled:hover {
    filter: none;
}

a.book-result-button {
    padding: 1rem 2rem;
}
