:root {
    --color-palette-1: #4F4972;
    --color-palette-2: #6D9AA0;
    --color-palette-3: #7D759B;
    --color-palette-4: #F2A74E;
    --color-palette-5: #908AA9;

    --primary-font: 'Helvetica Neue', serif;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../../App/Assets/Fonts/HelveticaNeue/HelveticaNeueMedium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../../App/Assets/Fonts/HelveticaNeue/HelveticaNeueLight.otf");
    font-weight: 300;
}

body {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
}

/*  Image de fond */
body::after {
    content: "";
    position: fixed;
    height: 1200px;
    width: 1200px;

    top:0;
    right: 0;
    transform: translate(7%, -14%) rotate(-4deg);

    background-image: url("/App/Assets/Images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;

    opacity: .25;
    z-index: -1000;
}

.button {
    --btn-color: var(--color-palette-4);
    --btn-padding-h: 1rem;
    --btn-padding-w: 2rem;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 2rem;

    color: white;
    background-color: var(--btn-color);
    text-decoration: none;
    letter-spacing: 1px;

    font-size: 1.3rem;
    padding: var(--btn-padding-h) var(--btn-padding-w);
    border-radius: 5rem;
    transition-duration: 300ms;
}

.button::after {
    content: "";
    position: absolute;
    background-color: var(--btn-color);
    filter: brightness(90%);
    bottom: var(--btn-padding-h);
    width: 0;
    height: 3px;
    transition-duration: 250ms;
    right: calc(2 * var(--btn-padding-w));
}

.button:hover::after {
    left: calc(2 * var(--btn-padding-w));
    width: calc(75% - 2 * var(--btn-padding-w));
}

.button.btn-color-1 {
    --btn-color: var(--color-palette-4);
}

.button.btn-color-2 {
    --btn-color: var(--color-palette-3);
}

.button.btn-color-3 {
    --btn-color: var(--color-palette-2);
}

.button.btn-mw {
    min-width: 190px;
}

.button.btn-shadow {
    box-shadow: 0px 3px 6px #00000029;
}

.button.btn-shadow:hover {
    box-shadow: 0px 3px 6px #00000050;
}
