:root {
    --nav-bar-height: 15vh;
}

.nav-main::after {
    content: "";
    display: block;
    height: var(--nav-bar-height);
}

.nav-content {
    z-index: 100;
    --nav-side-padding: 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: -20px 0px 23px -7px rgba(0, 0, 0, .4), 20px 0px 23px -7px rgba(0, 0, 0, .4);
    background-color: white;

    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-bar-height);
}

.nav-content *:first-child {
    margin-left: var(--nav-side-padding);
}

.nav-content *:last-child {
    margin-right: var(--nav-side-padding);
}

.nav-logo {
    height: 100%;
}

.nav-logo img {
    max-height: 100%;
    max-width: 100%;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    text-wrap: nowrap;
}
