.profile-section {
    display: flex;
    flex-direction: column;
    margin: 2vh 5% 0;
}

.profile-section h1 {
    color: var(--color-palette-1);
    font-size: 2rem;
}

.profile-actions a.button {
    font-size: 1rem;
    text-wrap: nowrap;
}

.profile-container {
    display: flex;
    gap: 5%;
}

.profile-container > div {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-self: flex-start;
    padding: 30px 20px;
    background-color: white;
    box-shadow: 0px 3px 12px #00000029;
    border-radius: 20px;
}

.profile-actions p {
    color: var(--color-palette-1);
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.profile-loans-container {
    flex-grow: 1;
}



