@layer displayer, section, renew, content;

@layer renew {
    .book-container p > span.renewed::after {
        content: "\a0 ▶ Renouvelé !";
        position: absolute;
        font-weight: 300;
        animation: renew-text-appear 500ms ease-in-out;
    }
}

@keyframes renew-text-appear {
    0% {
        opacity: 0;
        translate: 50px 0;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}
