@layer displayer, section, content;

@layer section {
    section.books-section {
        padding: 5vw;
    }
}

@layer content {
    .book-container {
        display: flex;
        flex-direction: column;
    }

    .book-container > * {
        margin: 0;
    }

    .book-container h2 {
        color: var(--color-palette-1);
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .book-container p {
        color: var(--color-palette-3);
        font-size: 1.5rem;
        font-weight: 300;
    }

    .book-container p > span {
        font-weight: 500;
    }

    .book-container p > span.renewed::after {
        content: "\a0 ▶ Renouvelé !";
        position: absolute;
        font-weight: 300;
        animation: renew-text-appear 500ms ease-in-out;
    }

    .book-container .renew-button-container {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
    }

    .book-container .renew-button-container button {
        padding: 1rem 2rem;
        color: white;
        font-family: var(--primary-font);
        font-size: 1.2rem;
        font-weight: 500;
        background-color: var(--color-palette-4);
        border: none;
        border-radius: 5rem;
        cursor: pointer;
    }

    .book-container .renew-button-container button:hover {
        filter: brightness(95%);
        box-shadow: 0px 3px 6px #00000029;
    }

    .book-container .renew-button-container p {
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

@keyframes renew-text-appear {
    0% {
        opacity: 0;
        translate: 50px 0;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}
