:root {
    --search-bar-height-tot: 10vh;
    --search-bar-height-field: 7vh;
    --search-bar-height-content: 60%;
    --search-bar-sbutton-size: 50px;
    --search-bar-sbutton-color: orange;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: var(--search-bar-height-tot);
}

.search-bar form {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;

    flex-grow: 1;
    height: var(--search-bar-height-field);
    
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 30px;

    background-color: white;
    transition-duration: 200ms;
}

.search-bar form:focus-within {
    box-shadow: 0px 6px 6px #00000040;
}

.search-bar .sb-text {
    width: 60%;
    height: var(--search-bar-height-content);
    
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 2rem;

    border: none;
}

.search-bar .sb-text::placeholder {
    color: #B2B2B2;
}

.search-bar .sb-text:focus {
    outline: none;
}

.search-bar .sb-drop {
    width: 20%;
    height: var(--search-bar-height-content);

    padding-left: 10px;
    background-color: var(--color-palette-2);
    color: white;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.search-bar .sb-drop:hover {
    filter: brightness(95%);
}

.search-bar .sb-search {
    clip-path: circle();
    width: var(--search-bar-sbutton-size);
    height: var(--search-bar-height-content);

    font-size: 0;
    border: none;

    background-color: var(--search-bar-sbutton-color);
    cursor: pointer;

    background-image: url("/App/Assets/Images/magnifying_glass.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.search-bar .sb-search:hover {
    filter: brightness(95%);
}
