@layer container, form, form-anim, error;

@layer container {
    section.form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5vh 33% 0
    }

    .form-container h1 {
        color: var(--color-palette-1);
        text-align: center;
        font-size: 1.7rem;
        letter-spacing: 1px;
    }
}

@layer form {
    form.simple-form {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 3vh;
    }

    form.simple-form label {
        color: var(--color-palette-2);
        font-size: 1.6rem;
        font-weight: 300;
        transition-duration: 200ms;
    }

    form.simple-form div:has(> :is(input[type="text"], input[type="password"])) {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    form.simple-form :is(input[type="text"], input[type="password"]) {
        height: 4rem;
        padding: 0 15px;
        border: none;
        border-radius: 15px;
        box-shadow: 0px 6px 6px #00000029;
        font-size: 2rem;
        transition-duration: 200ms;
    }

    form.simple-form :is(input[type="text"], input[type="password"]):focus {
        outline: none;
        box-shadow: 0px 6px 6px #00000060;
    }

    form.simple-form div:has(> :is(input[type="text"], input[type="password"])):focus-within label {
        transform: translateX(10%);
    }

    form.simple-form :has(> input[type="submit"]) {
        display: flex;
        justify-content: flex-end;
    }

    form.simple-form div > input[type="submit"] {
        color: white;
        background-color: var(--color-palette-4);
        padding: 1rem 3rem;
        border: none;
        border-radius: 5rem;
        font-family: var(--primary-font);
        font-weight: 300;
        font-size: 1.5rem;
        letter-spacing: 1px;
        box-shadow: 0px 3px 6px #00000029;
        cursor: pointer;
    }

    form.simple-form div > input[type="submit"]:hover {
        filter: brightness(95%);
    }
}

@layer form-anim {
    .form-container h1 {
        transition-duration: 200ms;
    }

    .form-container:has(input[type="submit"]:hover) h1 {
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    }
}

@layer error {
    form.simple-form .field-error {
        outline: 2px solid red;
        background-color: rgb(255, 200, 200);
    }
    
    form.simple-form .field-error:focus {
        outline: 2px solid rgb(255, 150, 150);
    }
}
