:root {
    --color-palette-1: #4F4972;
    --color-palette-2: #6D9AA0;
    --color-palette-3: #7D759B;
    --color-palette-4: #F1A74E;

    --primary-font: none;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../../App/Assets/Fonts/HelveticaNeue/HelveticaNeueLight.otf");
}

body {
    font-family: sans-serif;
    margin: 0;
}

body::after {
    content: "";
    position:fixed;
    height: 1200px;
    width: 1200px;

    top:0;
    right: 0;
    transform: translate(15%, -14%) rotate(-4deg);

    background-image: url("/App/Assets/Images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;

    opacity: .25;
    z-index: -1000;
}

.category-title {
    color: var(--color-palette-1);
    text-align: center;
    font-size: 1.7rem;
    margin: 2rem auto;
}
